.parallax {
  /* The image used */
  background-image: url("reader3.png");
  position: relative;
  top: -17.5px;
  left: -7.7px;

  /* Set a specific height */
  min-height: 450px; 
  width: 1695px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("new.gif");
  position: relative;
  top: 100px;
  left: -7.7px;

  /* Set a specific height */
  min-height: 450px; 
  width: 1695px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("reader3.png");
  position: relative;
  top: -290px;
  left: -7.7px;

  /* Set a specific height */
  min-height: 350px; 
  width: 1695px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("reader3.png");
  position: relative;
  top: -510px;
  left: -7.7px;

  /* Set a specific height */
  min-height: 250px; 
  width: 1695px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax4 {
  /* The image used */
  background-image: url("yep.webp");
  position: relative;
  top: -670px;
  left: -7.7px;

  /* Set a specific height */
  min-height: 450px; 
  width: 1695px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container{
  width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 33%;
  left: 50%;
  overflow: hidden;
  border-radius: 8px;
}

/*Area of images*/
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

img{
  width: 100%;
  position: relative;
}
/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}


.navbar {
  overflow: hidden;
  background-color: black;
  position: relative;
  top: -17.5px;
  left: -10px;
  width: 850px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: lightsteelblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

html * {
  font-family: monospace;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: white;
}

.begin1 img {
  position: relative;
  height: 390px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
}

.group {
  position: relative;
  top: 50px;
  font-size: large;
  text-align: center;
  color: white;
}

.try {
  position: relative;
  top: 360px;
}

.intro {
  position: relative;
  top: -290px;
  font-size: large;
  text-align: center;
  color: white;
}

.intro1 {
  position: relative;
  text-align: center;
  top: -630px;
  font-size: x-small;
  color: white;
}


.intro2 {
  position: relative;
  text-align: center;
  top: 90px;
  font-size: 12px;
  border-style: solid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  line-height: 1.8;
  background-color: lightsteelblue;
  animation: 
  typing 1.5s steps(90, end);
  color: black;
  border-radius: 8px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.intro3 {
  position: relative;
  top: -610px;
  font-size: x-small;
  text-align: center;
  color: white;
}

.intro4 {
  position: relative;
  top: -590px;
  font-size: x-small;
  text-align: center;
  color: white;
}

.intro5 {
  position: relative;
  top: -950px;
  font-size: large;
  text-align: center;
  color: white;
}
 
.intro6 {
  position: relative;
  top: -730px;
  text-align: center;
  font-size: x-small;
  color: white;
}

.intro7 {
  position: relative;
  top: 860px;
  font-size: medium;
  text-align: center;
  color: white;
}
 
.intro8 {
  position: relative;
  top: 1110px;
  text-align: center;
  font-size: x-small;
  color: white;
}

.intro9 {
  position: relative;
  top: 1260px;
  font-size: medium;
  text-align: center;
}
 
.intro10 {
  position: relative;
  top: 1310px;
  font-size: x-small;
  text-align: center;
}

.intro11 {
  position: relative;
  top: 1450px;
  font-size: medium;
  text-align: center;
  color: firebrick;
}

.intro12 {
  position: relative;
  top: 1510px;
  font-size: x-small;
  text-align: center;
}

.intro13 {
  position: relative;
  top: 1630px;
  border-radius: 25px;
  white-space: nowrap;
  border: 1.5px solid lightgrey;
  width: 450px;
  background-color: black;
  color: white;
  font-size: small;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.intro14 {
  position: relative;
  top: 1750px;
  text-align: center;
  font-size: x-small;
}

.magellan img {
  position: relative;
  height: 390px;
  width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: -320px;
}

.reader img {
  position: relative;
  height: 390px;
  width: 340px;
  display: block;
  margin-right: auto;
  top: 145px;
}


.pigafetta img {
  position: relative;
  height: 390px;
  width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: -480px;
}

.ship img {
  position: relative;
  height: 350px;
  width: 590px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: -1070px;
}

.yow2 img {
  position: relative;
  height: 350px;
  width: 590px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 1215px;
}

.yow3 img {
  position: relative;
  height: 550px;
  width: 1120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 1395px;
}

.yow4 img {
  position: relative;
  height: 550px;
  width: 1120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 1610px;
}


@media only screen and (max-width: 700px) { 
  .group {
    position: relative;
    top: 50px;
    font-size: large;
    text-align: center;
    font-family: monospace;
    color: black;
  }

  .intro2 {
    position: relative;
    text-align: center;
    top: 150px;
    font-size: 8px;
    border-style: solid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .ship img {
    position: relative;
    height: 350px;
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 1015px;
  }
  
  .yow2 img {
    position: relative;
    height: 350px;
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 1215px;
  }

  .yow3 img {
    position: relative;
    height: 350px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 1395px;
  }

  .yow4 img {
    position: relative;
    height: 250px;
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 1610px;
  }

  .intro13 {
    position: relative;
    top: 1630px;
    border-radius: 25px;
    white-space: nowrap;
    border: 1.5px solid lightgrey;
    width: 350px;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .begin1 img {
    width: 100%;
  }
  
}
