body {
    background-color: white;
  }
 
  .circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; 
    position: relative;
    top: -330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    margin-inline: auto;
    
}

   @media screen and (min-width: 500px) {

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        background-color: white;
        color: black;
       
    }

      .circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; 
        position: relative;
        top: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        margin-inline: auto;
        
    }

     
   #selector {
    height: 970px;
    width: 100%;
    opacity: 0.9;
    position: relative;
    top: 350px;
    display: none;
}
   .moon {
   position: relative;
   top: 20px;
   margin-left: 40%;
   margin-right: auto;

  
   }
    
  
  .dark-mode {
    background-color: black;
    color: white;
   }

   .btn {
    border: none;
    background-color: white;
    color: black;
    padding: 1px 1px;
    font-size: none;
    cursor: pointer;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; 

   }

   .uno {
   
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 10px;

   }

   .dos {
    position: relative;
    text-align: center;
    font-size: 10px;
    top: 12%;

  

   }
  }

/* Cut */
   #selector {
    height: 370px;
    width: 100%;
    margin-top: -600px;
    opacity: 0.9;
}